.courses {
  background: #f3f3f3;
  padding: 50px 0;
}
.courses h2 {
  text-align: center;
  color: #ef5f5f;
}
.course-line {
  border: 1px solid #0c5397;
  width: 300px;
  margin: 0 auto 40px auto;
}
.little-description {
  padding-top: 90px;
  color: #fff;
  width: 600px;
}
.little-description span {
  color: #ef5f5f;
}
.little-description h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}
.little-description p {
  font-size: 18px;
}
.btn {
  margin-top: 20px;
  margin-left: -15px;
  padding: 8px 24px;
  color: #fff;
}
.btn .link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}
.btn-1 {
  margin-right: 30px;
}
