.courses {
  background: #f3f3f3;
  padding: 50px 0;
}
.courses h2 {
  text-align: center;
  color: #ef5f5f;
}
.course-line {
  border: 1px solid #0c5397;
  width: 300px;
  margin: 0 auto 40px auto;
}
.little-description {
  padding-top: 90px;
  color: #fff;
  width: 600px;
}
.little-description span {
  color: #ef5f5f;
}
.little-description h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}
.little-description p {
  font-size: 18px;
}
.btn {
  margin-top: 20px;
  margin-left: -10px;
}
.link-1 {
  text-decoration: none;
  font-size: 20px;
  background: #ef5f5f;
  color: #fff;
  padding: 13px 40px;
  cursor: pointer;
  margin-right: 15px;
}
.link-1:hover {
  background: #fff;
  color: #ef5f5f;
}
.link-2 {
  padding: 13px 40px;
  outline: 1px solid #fff;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.link-2:hover {
  background: #ef5f5f;
  color: #fff;
}
