.navbar {
  height: 80px;
  background: #0c5397;
  padding-bottom: 20px;
}
.logo {
  float: left;
  color: #fff;
  font-weight: 700;
  /* margin-top: 10px; */
}
.nav {
  float: right;
}
.nav ul {
  display: flex;
  line-height: 55px;
}
.nav ul li {
  margin-left: 20px;
  list-style-type: none;
  text-decoration: none;
  font-size: 20px;
}
.nav-item {
  text-decoration: none;
  color: #ef5f5f;
  font-weight: 500;
}
.nav-item:hover {
  color: #fff;
}
