.footer {
  background: #292726;
  color: #fff;
  padding: 30px 0;
}
.footer h3 {
  color: #ef5f5f;
  margin-top: 10px;
}
.footer-text {
  text-align: center;
  margin-top: 40px;
}
.send-btn {
  padding: 6px 30px;
  margin-left: 3px;
}
